<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Mot de Passe Porte C</title>
    </head>

    <body>
        <h1>Bienvenue à la porte C</h1>
        <p>Quel est le mot de passe?</p>
        <form id="passwordFormc" method="POST" action="/validatePasswordc">
        <label for="passwordc">Mot de Passe:</label>
        <input type="passwordc" id="passwordc" name="passwordc" required>
        <button type="submit">Valider</button>
        </form>
        
    </body>
</html>