<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Mot de Passe Porte A</title>
    </head>

    <body>
        <h1>Bienvenue à la porte A</h1>
        <p>Quel est le mot de passe?</p>
        <form id="passwordForma" method="POST" action="/validatePassworda">
        <label for="passworda">Mot de Passe:</label>
        <input type="passworda" id="passworda" name="passworda" required>
        <button type="submit">Valider</button>
        </form>
    </body>
</html>