<!DOCTYPE html>
<html>
   <h2>Choix de la porte</h2>
  
      <ul>
         <li>  
            <a href="/validateSessiona">Porte a</a>
         </li>
         <li>  
            <a href="/validateSessionb">porte b</a>
         </li>
         <li>  
            <a href="/validateSessionc">porte c</a>
         </li>
         
      </ul>

</html>

