<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Mot de Passe Porte B</title>
    </head>

    <body>
        <h1>Bienvenue à la porte B</h1>
        <p>Quel est le mot de passe?</p>
        <form id="passwordFormb" method="POST" action="/validatePasswordb">
        <label for="passwordb">Mot de Passe:</label>
        <input type="passwordb" id="passwordb" name="passwordb" required>
        <button type="submit">Valider</button>
        </form>
        
    </body>
</html>